@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

:root {
  --grey-50: #656266;
  --grey-100: #616161;
  --grey-200: #322f33;
  --grey-300: #1c181d;

  /* font colors */
  --grey-light: #e3e3e3;
  --grey-mid: #616161;
  --grey-dark: #475467;

  /* strokes */
  --grey-S50: #ebebeb;
  --grey-S100: #000000/7%;
  --grey-S200: #FFFFFF/20%;

  /* states */
  --grey-hover: #f7f7f7;
  --grey-pressed: #f0f0f0;
  --grey-focused: #005bd3;

  /* plain */
  --white: #fff;
  --light-bg: #f1f1f1;

  --sm-unit: 0.5em;
  --md-unit: 1em;
  --radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
body {
  background: var(--light-bg);
}

/*======= Reused styles start =======*/
.hidden {
  display: none !important;
}

.open-model {
  position: absolute;
  left: 0%;
  top: 25em;
  background: var(--white);
  opacity: 0;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

p {
  margin: 0.5em 0;
}

.flex-item {
  display: flex;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: var(--sm-unit);
  border-radius: var(--sm-unit);
  border: none;
  outline: none;
}

.justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--grey-200);
}

.content .content-body,
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em 0;
  padding: var(--md-unit);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  background: var(--white);
}

/*======= Reused styles stop =======*/
header {
  position: relative;
}

nav {
  width: 100%;
  padding: var(--sm-unit) 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grey-200);
  color: var(--grey-light);
}

/* Navbar center Container styling */
nav .search-bar {
  width: 400px;
  margin: 0 var(--md-unit);
  padding: 0 var(--sm-unit);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
  background: var(--grey-200);
  border: 1px solid var(--grey-50);
}

nav .search-bar:hover{
  border: 1.5px solid var(--grey-light);
}

nav .search-bar input {
  width: 95%;
  border: none;
  padding: 0.7em;
  outline: none;
  color: var(--grey-light);
  background: transparent;
}

/* Navbar Right Container Styling */
nav .nav-right-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

nav .bell-icon {
  border-radius: var(--radius);
  padding: 0.3em;
  margin-right: var(--sm-unit);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey-50);
}

nav .bell-icon:hover, nav .model-info:hover{
  color: var(--grey-100);
  background: var(--grey-light);
}

nav .model-info {
  display: flex;
  align-items: center;
  padding-left: var(--sm-unit);
  border-radius: var(--radius);
  background: var(--grey-100);
}

.status-inidcator {
  padding: var(--sm-unit);
  margin-left: var(--sm-unit);
  color: var(--grey-50);
  border-radius: var(--radius);
  background: #36fba1;
}

nav .desktop-logo,
.model-info p:nth-child(1) {
  display: block;
}
nav .mobile-logo {
  display: none;
}


/*=== Notification styling start ===*/
.notification{
  padding: var(--md-unit) !important;
  color: var(--grey-100);
}

.notification .alertIcon{
  margin: 0 var(--sm-unit);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.notification .model-info{
  margin-top: var(--sm-unit);
}


/*=== Menu styling start ===*/
.menu {
  width: 350px;
  max-width: 80%;
  padding: var(--md-unit) 0%;
  position: absolute;
  right: 35px;
  background: var(--white);
  z-index: 999;
}

.menu .container {
  padding: 0 var(--sm-unit);
}

.menu .titlebar {
  border-radius: var(--radius);
  padding: var(--sm-unit);
  background: var(--light-bg);
}

.menu a {
  padding: var(--sm-unit) 0;
  font-weight: 300;
  color: var(--grey-300);
  border-bottom: 1px solid var(--light-bg);
}

.menu .links,
.manage-account {
  display: flex;
  flex-direction: column;
}

.menu .links a,
.manage-account {
  border: 1px solid transparent;
  border-radius: var(--radius);
  padding: var(--md-unit);
}

.menu .manage-account {
  border-radius: 0;
  border-top: 1px solid var(--light-bg);
}

.menu .manage-account a{
  border: 0;
  margin: var(--sm-unit) 0;
}

.menu .links a:focus, .notification .alertIcon:focus {
  border: 1px solid var(--grey-focused);
}

/*======= Content styling =======*/
.content {
  width: 700px;
  max-width: 100%;
  margin: 2em auto;
}

.content .content-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--md-unit);
  border-radius: var(--radius);
  color: var(--grey-light);
  background: var(--grey-300);
}

.content .content-header .action {
  display: flex;
  align-items: center;
}

.content .content-header button {
  margin: 0 var(--md-unit);
  background: var(--light-bg);
}

.content .content-body {
  height: auto;
  position: relative;
}

.content .content-body > div:nth-child(1) {
  margin-bottom: 2em;
}

.content .content-body .progess {
  width: 200px;
  position: relative;
  margin: var(--sm-unit) 0;
  font-weight: 300;
}

.content .content-body .progess .level {
  width: 100px;
  height: 5px;
  border-radius: var(--sm-unit);
  background: var(--light-bg);
  position: relative;
  overflow: hidden;
  left: 10px;
}

.content .content-body .progess .level .layer {
  position: absolute;
  height: 100%;
  background: var(--grey-300);
}

.content ul {
  padding: var(--md-unit);
  border-radius: var(--sm-unit);
  color: var(--grey-100);
  cursor: pointer;
}

.content ul li {
  list-style: none;
}

.content ul .title {
  margin-left: 1.5em;
  font-weight: normal;
}

.content ul a {
  color: var(--grey-focused);
}

.content li label + input[type="radio"] {
  display: none;
}

.content .option {
  margin-left: 3.5em;
  display: flex;
  align-items: flex-start;
  max-height: 0;
  overflow: hidden;
}

.content li label + input[type="radio"]:checked + .option {
  max-height: 700px;
}

.content ul .cta {
  margin-top: 1.5em;
  margin-left: 0 !important;
}

.content ul button {
  padding: 0.8em;
  color: var(--grey-light);
  background: var(--grey-200);
  box-shadow: 0px 0px 1px 0.1em var(--grey-100);
}

.content ul button:hover{
  background: var(--grey-300);
  box-shadow: 0px 0px 2px 0.2em var(--grey-100);

}

.content ul button:nth-child(2) {
  margin: 0 var(--md-unit);
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--grey-300);
}

/*========== Footer Styling Start ==========*/
footer{
  width: 100%;
  display: none;
  padding: var(--md-unit) 0;
  background: var(--white);
  border-top: 1px solid var(--grey-light);
  z-index: 900;
  position: fixed;
  bottom: 0%;
}

footer i, footer p {
  font-size: 2em !important;
}

footer p, footer .desc{
  color: var(--grey-100);

}

footer .desc{
  width: 90%;
  margin: 0 auto 2em auto;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--white);
  box-shadow: 0px 0px 50px 0.5px var(--grey-light);
}

footer .icons{
  display: flex;
  justify-content: space-around;
  color: var(--grey-focused);
}

footer .line{
  margin-top: 2em;
  width: 100%;
  height: 5px;
  position: relative;
}

footer .line .layer{
  width: 50%;
  height: 100%;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  background: var(--grey-300);
  position: absolute;
}
/*========== Footer Styling End ==========*/


.spinner {
  animation: spinner infinite 0.6s;
}

.selected-option-bg {
  background: var(--light-bg);
}

@keyframes spinner {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile View */
@media (max-width: 776px) {
  nav .desktop-logo,
  .model-info p:nth-child(1),
  .content ul .product-image, .select-plan-desktop {
    display: none !important;
  }
  nav .mobile-logo,  .select-plan-mobile, .footer {
    display: block !important;
  }

  nav .model-info,
  nav .bell-icon {
    background: transparent;
  }

  /* content section mobile view */
  .content .content-header {
    border-radius: 0;
  }

  .select-plan-mobile{
    margin: var(--sm-unit) 0 !important;
  }

}
